.actor {
  background: #fff;
  border-radius: 1rem;
  color: #333;
  height: auto;
  min-width: 220px;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);

  h4 {
    font-size: 1.2rem;
    padding: 0.3rem 1rem 0;
  }
  h5 {
    color: #898989;
    font-size: 1rem;
    padding: 0 1rem 0;
  }
  img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
