.compare-container {
  background: #fff;
  box-shadow: 0.2rem 0.5rem 1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 23vw;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;

  .drop-placeholder {
    color: #d7d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
    h3 {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .compare-info {
    .best-section {
      height: auto;
      display: flex;
      flex-direction: column;
      font-size: 1.3rem;
      align-items: center;
      border: 3px solid #333;
      margin-top: 1rem;
      padding: 0.5rem;
      width: 21vw;
      border-radius: 0.5rem;
      & .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        text-align: center;
      }
    }
  }
}

.compare-list {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hovered {
  background: #333;
}

@media screen and (max-width: 768px) {
  .compare-container {
    width: 80vw;
    height: auto;

    .drop-placeholder {
      display: none;
    }

    .compare-info {
      .best-section {
        width: 70vw;
      }
    }
  }
}
