.movie {
  width: 30rem;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #fff;

  .poster {
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }

  h4 {
    margin-top: 0.2rem;
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 1rem 2rem 0 rgba(84, 84, 84, 0.2);
    transform: scale(1.01);
  }

  &.small {
    max-width: 18vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    .btn {
      margin-bottom: 1rem;
      z-index: 2;
    }

    &:hover {
      box-shadow: 0 1rem 2rem 0 rgba(84, 84, 84, 0.2);
      transform: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .movie {
    width: 12rem;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    .movie-info {
      padding: 0.8rem;
    }
  }
}
