.SearchInput {
  width: 40vw;
  height: 7vh;
  font-size: 5vh;
  border-radius: 2rem;
  outline: none;
  padding: 1rem;
  border: 0.2rem solid #333;
  transition: all 0.3s ease;
  margin-right: 1rem;
  &:focus {
    box-shadow: 0 0 3pt 2pt #333;
  }
}
