* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.gray-text {
  color: #737373;
}

.small-text {
  font-size: 1rem;
}

.card {
}

@import "./search";
@import "./search_results";
@import "./home";
@import "./movie_details";
@import "./movie";
