* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #333;
  color: #fff;
}

.red {
  background: #fc3939;
  color: #fff;
}
.green {
  background: #2ead00;
  color: #fff;
}
.gray {
  background: #5d5d5d;
  color: #fff;
}

.gray-text {
  color: #737373;
}

.small-text {
  font-size: 1rem;
}

.card {
}

@import "./search";
@import "./search_results";
@import "./home";
@import "./movie_details";
@import "./movie";
@import "./compare_container";
@import "./actor";
